<ng-container *ngIf="searchResults">
    <div class="row">
        <div class="col-md-12 mt-3 mb-3">
            <h2>"{{movieName}}" için arama sonuçları</h2>
        </div>
            <ng-container *ngFor="let movie of searchResults">
                <app-movie-item [movie]="movie" class="col-md-3 mb-3" *ngIf="movie.backdrop_path"></app-movie-item>
            </ng-container>
    </div>
    <app-pagination [activePage]="activePage" [totalPage]="totalPage" [urlBase]="'/ara?s='+movieName" [urlBrackets]="'&'"></app-pagination>
</ng-container>