<ng-container *ngIf="upcomingMovies">
    <div class="row">
        <div class="col-md-12 mt-3 mb-3">
            <h2>Yakın Zamanda Vizyona Girecek Filmler</h2>
        </div>
            <ng-container *ngFor="let movie of upcomingMovies">
                <app-movie-item [movie]="movie" class="col-md-3 mb-3" *ngIf="movie.backdrop_path"></app-movie-item>
            </ng-container>
    </div>
    <app-pagination [activePage]="activePage" [totalPage]="totalPage" [urlBase]="'/yakin-zamanda-vizyonda'"></app-pagination>
</ng-container>