<div class="container">
  <div class="row">
      <div class="col-md-12 mt-3 mb-3">
          <h2>Popüler Filmler</h2>
      </div>
      <ng-container *ngIf="popularMovies">
        <div class="col-md-3 mb-3" *ngFor="let movie of popularMovies">
          <div class="card">
              <img class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="{{movie.title}}">
              <div class="card-body">
                <h5 class="card-title">{{movie.title}}</h5>
                <p class="card-text">{{movie.release_date}}</p>
              </div>
            </div>
        </div>
      </ng-container>
  </div>
</div>