<div class="row">
    <div class="col-md-12">
        <form method="GET" action="/ara">
            <div class="input-group mb-3 mt-5">
                <input type="text" class="form-control" name="s" placeholder="Aramak istediğiniz filmin ismini giriniz"/>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Ara</button>
                </div>
            </div>
        </form>
    </div>
</div>
<ng-container *ngIf="popularMovies">
    <div class="row">
        <div class="col-md-12 mt-3 mb-3">
            <h2>Popüler Filmler</h2>
        </div>
            <ng-container *ngFor="let movie of popularMovies">
                <app-movie-item [movie]="movie" class="col-md-3 mb-3" *ngIf="movie.backdrop_path"></app-movie-item>
            </ng-container>
    </div>
    <app-pagination [activePage]="activePage" [totalPage]="totalPage" ></app-pagination>
</ng-container>