<div class="row">
  <div class="col-md-12">
    <nav aria-label="Page navigation example">
      <ul class="pagination"> 
        <ng-container *ngFor="let page of pages">
          <li class="page-item" [ngClass]="{'active':activePage == page}"><a class="page-link" href="{{urlBase}}{{urlBrackets}}page={{page}}">{{page}}</a></li>
        </ng-container>
        <ng-container *ngIf="activePage <= totalPage - 2">
          <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
          <li class="page-item"><a class="page-link" href="{{urlBase}}{{urlBrackets}}page={{totalPage}}">{{totalPage}}</a></li>
        </ng-container>
      </ul>
    </nav>
  </div>
</div>